
@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 1 rem;
  }
  .container {
     
    background-color: rgb(82, 83, 84);
    margin: 2rem auto;
    max-width: 60rem;
    width: 90%;
    color: #fff;
    -webkit-box-shadow: 3px -8px 25px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px -8px 25px 8px rgba(0,0,0,0.5);
    box-shadow: 3px -8px 25px 8px rgba(0,0,0,0.5);
    }
    html{
      font-size: 16px;
     margin-top: 3em;
     background-color: rgb(126, 134, 132);
     line-height: 1.618rem;
     color: rgb(17, 17, 18);
    font: 18px/1.618 sans-serif;
    font-family:'Lato', sans-serif;

    
    }
  
    
  header, main, footer{
    max-width: 850px;
    margin:0 auto;
  }
  
  header{
    padding: 3em 0;
  }
  
 
  
  header h1 {
    font-size: 2em;
    color: rgb(51, 20, 20);
  }
  
  header, main, footer{
    max-width: 800px;
    margin:0 auto;
  }
  .Profile img{
    width: 20%;
    height: 20%;

  }
 
    nav{
      background-color: rgb(82, 108, 108);
      top: 10px;
      left: 0px;
      height: 50px;
      width: 100%;
      position: fixed;
      display: flex;
      flex-flow:row ;
      justify-content: center;
      margin-top: auto;
    }
  
    nav a{
      padding: .5em 2em;
      text-decoration:none;
      color: rgb(41, 14, 14);
  }
  
  nav a:hover{
      background: rgb(17, 133, 205);
  }

    .Projects {
      grid-column: 1 / 4;
      grid-row: 1 / 3;
      
      padding-top: 0px;
       
    }
  
    p{
      color: rgb(243, 219, 219);
      text-align: center;
     
      display: grid;
      grid-template-columns:repeat(2,1fr) ;
      
    }
  
    p img{
      width: 70%;
      height: 60%;
    }
  
    .Projects{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: auto;
      grid-column:1em ;
     grid-column-gap:1em ;
 
  }
  #Projects article{
      background: rgb(234, 231, 231);
      padding: 1.5em;
      
  }
  .Projects article img{
    width: 75%;
    border: 1px solid rgb(32, 31, 28);
    height: 200px;
  
  }

  .Projects article a:hover{

   
      background: rgb(11, 116, 33);
     
    }
    .Projects article a{
       width: 50%;
    }


  ul{
    color: rgb(30, 4, 4);
    background-color: rgb(234, 231, 231);
    
  }
  
  section >p {
    margin:1em 0 ;
  }
  
  section{
    margin: 1em;
    padding-top: 3em;
    min-height: 20em;
  
  }
  section ul{
    padding-left: 1.5em;
  } 

  #contacts{
    width: 300%;
    text-align: center;
   
  }
  #contacts ul{
    background-color:rgb(126, 134, 132);
  }

  #contacts a:hover{
    background: rgb(86, 152, 233);
  }
  .footer{
    background: rgb(168, 166, 166);
    color: #fff;
    text-align: center;

  }
  .footer:hover{
    background: rgb(86, 152, 233);
  }